---
import { getCollection } from 'astro:content';
import Layout from '../layouts/BaseLayout.astro';
import EventList from '../components/EventList.astro';
import Intro from '../components/Intro.astro';

const today = new Date();

const futureEvents = await getCollection('events', ({ data }) => {
  const date = data.endDate ?? data.startDate;
  return date >= today;
});

const futureEventsSorted = futureEvents.sort((a, b) => {
  return a.data.startDate - b.data.startDate;
});

const pastEvents = await getCollection('events', ({ data }) => {
  const date = data.endDate ?? data.startDate;
  return date < today;
});

const pastEventsSorted = pastEvents.sort((a, b) => {
  return b.data.startDate - a.data.startDate;
});
---

<style lang="scss">
  @use '../styles/mq';

  .events {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    margin: var(--spacing-xl) 0;

    @include mq.tablet {
      gap: var(--spacing-2xl);
      margin: var(--spacing-2xl) 0;
    }
  }
</style>

<Layout pageTitle="O░V░E░R░F░L░O░W">
  <Intro />
  <section class="events">
    <EventList title="Programme" events={futureEventsSorted} fallback="No event at the moment" />
    <EventList title="Archives" events={pastEventsSorted} />
  </section>
</Layout>
