---
import { Image } from 'astro:assets';
import { CollectionEntry, getEntries } from 'astro:content';
import { getLocaleCollectionUrl, useTranslations } from '../i18n/utils';
import { displayDateTimeSchedule } from '../utils';
import Hero from './Hero.astro';
import Ticker from './Ticker.astro';
import OverviewBg from './OverviewBg.astro';

const t = useTranslations(Astro.currentLocale);

interface Props {
  event: CollectionEntry<'event'>;
}

const { event }: { event: CollectionEntry<'event'> } = Astro.props;
const programme = event.data.programme
  ? await getEntries(event.data.programme)
  : null;
---

<style lang="scss">
  .featured {
    margin-top: calc(-1 * var(--header-bottom-margin));
    overflow: hidden;
  }
</style>
<div class="featured">
  <Hero
    sectionTitle={t(
      event.data.startDate < new Date()
        ? 'featured.title.current'
        : 'featured.title.coming',
    )}
    title={event.data.title}
    above={displayDateTimeSchedule(
      event.data.startDate,
      event.data.endDate,
      event.data.schedule,
      Astro.currentLocale,
    )}
    below={event.data.artists?.join(' / ')}
    bg={event.data.cover}
    href={getLocaleCollectionUrl(Astro.currentLocale, 'events', event.id)}
    lg
  >
    {
      event.id === 'overview-2' && programme && (
        <Fragment slot="bg">
          <OverviewBg />
        </Fragment>
      )
    }
    {
      programme && (
        <Fragment slot="below">
          <Ticker programme={programme} />
        </Fragment>
      )
    }
  </Hero>
</div>
