---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
import Nav from './Nav.astro';
import { useTranslations } from '../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const t = useTranslations(Astro.currentLocale);
---

<style lang="scss">
  @use '../styles/mq';

  .header {
    align-items: center;
    display: flex;
    gap: var(--spacing-l);
    justify-content: space-between;
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    position: relative;
  }

  .home-link {
    display: block;
  }

  .logo {
    min-height: 20px;
  }
</style>

<header class="header with-spacing">
  <a href={getRelativeLocaleUrl(Astro.currentLocale, '/')} title={t('nav.home.help')} class="home-link">
    <Image class="logo" src={logo} alt="O V E R F L O W" height="20" />
  </a>
  <Nav />
</header>
