---
import BurgerIcon from '../assets/burger-icon.svg';
import { switchLanguageUrl, useTranslations } from '../i18n/utils';
import { languages } from '../i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';
import LanguagePicker from './LanguagePicker.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const t = useTranslations(Astro.currentLocale);
---

<style lang="scss">
  @use '../styles/mq';

  .main-nav {
    display: flex;

    .mobile-menu-btn {
      background-color: transparent;
      border: none;
      color: var(--color-text-base);
      font-size: 30px;
      line-height: 1;
      transform-origin: center center;
      cursor: pointer;
      transition: transform 0.3s ease-out;

      @include mq.desktop {
        display: none;
      }
    }

    #mobile-menu-toggle {
      display: none;
    }

    .menu {
      list-style: none;
      padding: 0;
      gap: var(--spacing-m);
      display: none;

      @include mq.desktop {
        display: flex;
      }

      @include mq.large {
        gap: var(--spacing-l);
      }
    }

    a {
      color: var(--color-text);
      cursor: pointer;
      letter-spacing: 0.1em;
      padding: var(--spacing-2xs) var(--spacing-xs);
      text-transform: uppercase;
      text-decoration: none;
    }

    li.active {
      a {
        background-color: var(--color-bg-accent);
        color: var(--color-text-inverse);
      }
    }

    /* interactivity */
    &.is-open {
      .mobile-menu-btn {
        transform: rotate(180deg);
      }

      .menu,
      :global(.lang) {
        background-color: var(--color-bg-base);
        padding: var(--spacing-m);
        position: absolute;
        right: 80px;
        gap: var(--spacing-m);
        top: 50px;
        display: flex;
        flex-direction: column;
        z-index: 10;
      }

      :global(.lang) {
        right: 20px;
      }
    }
  }
</style>

<script>
  const $btn = document.querySelector('.main-nav .mobile-menu-btn');
  const $nav = document.querySelector('.main-nav');

  $btn.addEventListener('click', () => {
    $nav.classList.toggle('is-open');
  });
</script>

<nav class="main-nav">
  <button class="mobile-menu-btn">
    <BurgerIcon />
  </button>

  <ul class="menu">
    <li class={currentPath.includes('programme/') ? 'active' : ''}>
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale, 'programme')}
        title="See our future events">{t('nav.programme')}</a
      >
    </li>
    <li class={currentPath.includes('archives/') ? 'active' : ''}>
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale, 'archives')}
        title="See our past events">{t('nav.archives')}</a
      >
    </li>
    <li class={currentPath.includes('artists/') ? 'active' : ''}>
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale, 'artists')}
        title="List of artists who participated in one of our events"
        >{t('nav.artists')}</a
      >
    </li>
    <li class={currentPath.includes('news/') ? 'active' : ''}>
      <a href={getRelativeLocaleUrl(Astro.currentLocale, 'news')}
        >{t('nav.news')}</a
      >
    </li>
    <li class={currentPath.includes('visit/') ? 'active' : ''}>
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale, 'visit')}
        title="Visit us">{t('nav.visit')}</a
      >
    </li>
  </ul>

  <LanguagePicker class="lang" />
</nav>
