<div class="hydra-wrap">
  <canvas id="overview-hydra-canvas"></canvas>
</div>

<style>
  .hydra-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  #overview-hydra-canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import Hydra from 'hydra-synth';
  import { textmode } from 'textmode.js';
  const canvas = document.getElementById('overview-hydra-canvas');
  const hydra = new Hydra({ detectAudio: false, canvas });
  hydra.setResolution(window.innerWidth, 600);

  const tm = textmode.create({ canvas, overlay: true });
  tm.setup(() => {
    tm.fontSize(22);
    tm.overlay
      .characters('.÷ôÇ€')
      .cellColorMode('fixed')
      .cellColor(0, 0, 0)
      .charColorMode('sampled')
      .background(0, 0, 0, 255);
  });
  tm.draw(() => {
    tm.background(0);
    tm.image(tm.overlay, tm.grid.cols, tm.grid.rows);
  });

  osc(9, 0.05, 0.2)
    .color(1, 0, 1)
    // .rotate(() => (hydra.synth.mouse.x / hydra.synth.width) * Math.PI * 0.5)
    .modulateRotate(osc(3, 0.1), 1)
    .add(src(o1).scale(1.5, 1.1), 0.9)
    .out(o0);
  shape(4, 0.3, 0.2).color(1, 1, 0).out(o1);
</script>
