<style lang="scss">
  .section-title {
    align-self: start;
    background-color: var(--color-bg-inverse);
    color: var(--color-text-inverse);
    display: inline-block;
    font-size: var(--typography-fontsize-l);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-right: var(--spacing-m);
  }
</style>

<h3 class="section-title with-spacing-left">
  <slot />
</h3>
