---
import BaseLayout from './BaseLayout.astro';
import LongFormContent from '../components/LongFormContent.astro';
import Hero from '../components/Hero.astro';
const { pageCover, pageTitle, ...props } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} pageCover={pageCover ?? null} {...props}>
  <div class="with-spacing">
    <Hero title="Visit us" bg={pageCover} />

    <LongFormContent>
      <slot />
    </LongFormContent>
  </div>
</BaseLayout>
