---
import BaseLayout from './BaseLayout.astro';
import LongFormContent from '../components/LongFormContent.astro';
import Hero from '../components/Hero.astro';
let { pageCover, pageTitle, frontmatter, below, ...props } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} pageCover={pageCover ?? null} {...props}>
  <div class="with-spacing">
    <Hero title={pageTitle} bg={pageCover} below={below} />

    <LongFormContent>
      <slot />
    </LongFormContent>
  </div>
</BaseLayout>
